body{
    background-image: linear-gradient(to top, white, skyblue);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rules-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: 70vh;
    width: 60vh;
    padding: 20px;
}

/* Navigation */
nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: rgb(110, 110, 111);
    font-family: fantasy;
    transition: ease-in-out 0.5s;
}

nav a:hover{
    color: black;
    text-decoration: underline;
}

/* Header */
.header{
    display: grid;
    place-items: center;
}

.header h1{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.head{
    margin-left: 3vh;
    display: flex;
    justify-content: center;
}

.head img{
    width: 40vh;
    height: 18vh;
}
/* Rules */
.rules{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol{
    list-style-type: lower-greek;
    padding: 20px;
}

li{
    color: grey;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}